*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: Times;
}
nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 80px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a:hover{
  background: black;
}

h2{
  text-align: center;
  color: green;
  text-indent: 50px;
  font-style: oblique;
}

p{
  text-align: center;
  color: green;
  text-indent: 50px;
  font-style: oblique;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    width: 100%;
}
.content-table thead tr{
   background-color: #009879;
   color:#ffffff;
   text-align: left;
   font-weight: bold;
}
.content-table th,
.content-table td {
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom:1px solid #dddddd;
}
p.center{
  text-align: center;
  color: green;
  text-indent: 200px;
  font-style: oblique;
}

@media (max-width: 768px){
  nav ul{
    height: 200px;
    flex-direction: column;
    text-align: center;
}
  body{
    background-color: teal;
  }
}
