*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family: Times;
}
nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 80px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a:hover{
  background: black;
}
#top {
   text-align: center;
   list-style-position: inside;
   text-indent: 50px;
}
.intro{
   font-weight: bold;
}
.responsive{
  width: 100%;
  height: auto;
}
@media only screen  and (max-width: 767px) {
  nav ul{
    width: 90%;
    text-align: center; 
    font-size: 4px;
    padding: 2px 6px;
    border-radius: 3px;
    text-transform: uppercase;
    
}
body{
    background-color: teal;
}
   label.logo{
    font-size: 15px;
    line-height: 30px;
    padding: 0 50px;
    font-weight: bold
  }
}
